{{>layout/header}}
{{>layout/nav}}
<script src="/js/app/basket.js"></script>
<div class="container">
<a href="/" role="button" class="btn btn-outline-dark float-right">책 목록</a>
<h1 class="d-flex justify-content-center">장바구니</h1>
<div class="col-md-12 d-flex justify-content-center">
<table class="list" >
    <tbody>
    {{^basketInfo}}
    <p class="d-flex">장바구니가 비었습니다</p>
    {{/basketInfo}}
    {{#basketInfo}}
        <tr style="border-bottom: 1px solid #444444" name = "basNum" value = "{{basket.basNum}}">
            <td>
                <p><input type="checkbox" name = "isbn" value="{{books.isbn}}" unchecked>
                <b>책제목</b> : <a href="/books/bookInfo/{{books.isbn}}" class="text-red">{{books.bookName}}</a> | <b>수량</b> : {{basAmount}} | <b id = "price">가격</b> : 
                <script>
                    var count = {{books.bookPri}}*{{basAmount}};
                    document.write(count.toString());
                </script>
                </p>
            </td>
        </tr>
    {{/basketInfo}}
    </tbody>
</table>
</div>
<button type="button" class="btn btn-outline-dark float-right mr-5" onclick="basketBookDelete()">삭제</button>
</div>
{{>layout/footer}}