{{>layout/header}}
{{>layout/nav}}
<h1>책 상세 정보</h1>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>책표지</th>
        <th>책제목</th>
        <th>저자</th>
        <th>옮긴이</th>
        <th>출간일</th>
        <th>출판사</th>
        <th>가격</th>
        <th>장르</th>
        <th>상세정보</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#bookInfo}}
    <tr>
        <td>{{bookCov}}</td>
        <td>{{bookName}}</td>
        <td>{{bookAut}}</td>
        <td>{{bookTrans}}</td>
        <td>{{bookDate}}</td>
        <td>{{bookHouse}}</td>
        <td>{{bookPri}}</td>
        <td>{{bookGen}}</td>
        <td>{{bookDet}}</td>
    </tr>
    {{/bookInfo}}
    </tbody>
</table>
<a href="/books/bookUpdate/{{ISBM}}" role="button" class="btn btn-primary float-right">정보 수정</a>
{{>layout/bookFooter}}