{{>layout/header}}
{{>layout/nav}}
<h1>책 정보 수정</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form method="post">
            {{#bookInfo}}
                <input type="text" class="form-control" id="isbn" value="{{isbn}}" hidden>
            <div class="form-group">
                <label for="bookPri">가격</label>
                <input type="text" class="form-control" id="bookPri" value="{{bookPri}}">
            </div>
            <div class="form-group">
                <label for="bookDet">상세정보</label>
                <textarea type="text" class="form-control" id="bookDet" value="{{bookDet}}"></textarea>
            </div>
            {{/bookInfo}}
        </form>
        <button type="button" class="btn btn-outline-dark" onclick="goBack();">취소</button>
        <button type="button" class="btn btn-outline-dark" id="btn-booksUpdate">수정 완료</button>
        <button type="button" class="btn btn-outline-dark" id="btn-booksDelete">삭제</button>
    </div>
</div>
<script type="text/javascript">
    function goBack(){
        window.history.back();
    }
</script>
{{>layout/footer}}