{{>layout/header}}
{{>layout/nav}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="col-md-4">
                    <h1>로그인</h1>
                    <form method="post">
                        <div class="form-group">
                            <label for="id">아이디</label>
                            <input type="text" class="form-control" id="id" placeholder="아이디를 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="pw">비밀번호</label>
                            <input type="password" class="form-control" id="pw" placeholder="비밀번호를 입력하세요">
                        </div>
                    </form>
                    <button type="button" class="btn btn-outline-dark" id="btn-login">로그인</button>
                    <a href="/users/signUp" role="button" class="btn btn-outline-dark">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}