{{>layout/header}}
{{>layout/nav}}
<div class="container">
{{#master}}
<a href="/books/bookSave" role="button" class="btn btn-outline-dark float-right">책등록</a>
{{/master}}
<h1 class="d-flex justify-content-center">책 목록</h1>
<div class="col-md-12 d-flex justify-content-center">
<table class="list" >
    <tbody>
        {{#bookList}}
        <tr style="border-bottom: 1px solid #444444">
            <td>
                <p><b>책제목</b> : <a href="/books/bookInfo/{{isbn}}" class="text-red">{{bookName}}</a> | <b>장르</b> : {{bookGen}}</p>
                <p><b>저자</b> : {{bookAut}} | <b>출판사</b> : {{bookHouse}}</p>
                <p><b>가격</b> : {{bookPri}} | <b>재고량</b> : {{bookSto}}</p>
            </td>
        </tr>
        {{/bookList}}
    </tbody>
</table>
</div>
{{>layout/footer}}