{{>layout/header}}
{{>layout/nav}}
<h1>메인</h1>
        <a href="/books/bookSave" role="button" class="btn btn-primary">도서등록</a>
{{>layout/footer}}

<!--<div class="col-md-12">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
        <!--            {{#id}}-->
<!--                Logged in as: <span id="user">{{name}}</span>-->
<!--                <a href="/" role="button" class="btn btn-info active" >로그아웃</a>-->
        <!--            {{/id}}-->
        <!--            {{^id}}-->
<!--                <a href="/users/signIn" role="button" class="btn btn-primary">로그인</a>-->
<!--                <a href="/users/signUp" role="button" class="btn btn-primary">회원가입</a>-->
        <!--            {{/id}}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->